# macOS
.DS_Store

# Xcode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside
DerivedData/
*.hmap
*.ipa
*.xcuserstate
**/.xcode.env.local

# Android/IntelliJ
.gradle/
.idea/
build/
local.properties
*.iml
*.hprof
.cxx/
*.keystore
!debug.keystore

# React Native / Node.js
node_modules/
npm-debug.log*
yarn-error.log*

# Metro
.metro-health-check*

# Fastlane
**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output

# Pods
**/Pods/
vendor/bundle/

# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Test Coverage
coverage/

# Environment Variables (VERY IMPORTANT)
.env
.env.*
.env.local
.env.development
.env.production

# Bundles
*.jsbundle
